<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minimalist.common.mybatis.mapper.EntityMapper">

    <!-- 通用批量插入 -->
    <insert id="insertBatch" parameterType="com.minimalist.common.mybatis.bo.InsertBatchParams">
        INSERT INTO ${table_name}
        <foreach collection="columnNames" item="item" index="index" separator="," open="(" close=")">${item}</foreach>
        values
        <foreach collection="columnValues" item="item" index="index" separator=",">
            <foreach collection="item" item="v" index="index" separator="," open="(" close=")">#{v}</foreach>
        </foreach>
    </insert>

    <!-- 通用删除 - 根据条件删除 -->
    <insert id="delete" parameterType="com.minimalist.common.mybatis.bo.DeleteParams" useGeneratedKeys="false">
        DELETE FROM ${table_name} WHERE ${key} = #{value}
    </insert>
















    <!-- 通用批量修改 - 按照主键id修改 -->
    <update id="updateBatch" parameterType="java.util.HashMap">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE ${item.table_name} SET
            <foreach collection="item.DATA" item="v" index="index" separator=",">
                ${v.COLUMN} = #{v.COL_VALUE}
            </foreach>
            WHERE ${item.KEY_ID} = #{item.KEY_VALUE}
        </foreach>
    </update>

    <!-- 通用批量删除 -->
    <insert id="deleteBatch" parameterType="java.lang.String" useGeneratedKeys="false">
        DELETE FROM ${table_name}
        WHERE ${key} in
        <foreach collection="values" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </insert>

</mapper>
